* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#top {
    margin: 0;
    padding: 100px 60px 80px 40px;
    background-color: #303030;
    color: white;
}

#top h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -1.5px;
}

#top p {
    color: #FFF;
    font-feature-settings: 'liga' off;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
}

#main-top {
    background-color: #F9F9F9;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#main-top h3 {
    font-size: 40px;
}

#main-top p {
    font-size: 20px;
}

#main-bottom {
    background-color: #FFFFFF;
    padding: 30px 0px 30px 0px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    align-items: center;
    width: 100%;
    gap: 5%;
}

#texto {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#texto h2 {
    font-size: 40px;
    color: #000;
}

#teto p {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

#main-bottom img {
    margin-left: 30px;
    width: 510px;
    height: 605px;
}

#bottom {
    background-color: #303030;
    width: 100%;
    display:  flex;
    flex-direction: column; 
}

#bottom h4 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

#bottom form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#bottom form input {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
}

#bottom button {
    width: 280px;
    height: 45px;
    padding: 5px;
    background-color: #C07212;
    color: #FFF;
    border-radius: 10px;
    border: none;
    margin-bottom: 40px;
}

#bottom button:hover {
    transform: translateY(-7px);
    transition: 1s;
    cursor: pointer;
}